.titulo_accordion{
    text-align:center;
    margin:30px auto;
    color: white;
    width:60%;
    border-radius:10px;
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.alinhamento_accordion{
    width:70%; 
    margin:0 auto; 
    padding:5px;
}