.titulo{
    text-align:center;
    margin:30px auto;
    height: auto;
    width:60%;
    border-radius:10px;
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
}

.beneficios{
    text-align:center;
    margin:20px auto;
    width:65vw;
    height:auto;
    border-radius:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /*border:1px solid red;*/
}

