.titulo{
    text-align:center;
    margin:30px auto;
    height: auto;
    width:60%;
    border-radius:10px;
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
}

.beneficios{
    text-align:center;
    margin:20px auto;
    width:65vw;
    height:auto;
    border-radius:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}


/* AlinhamentoImagem */

.alinhamento_imagem_oculos{
    position:absolute;
    /* border:1px solid green; */
    width:100%;
    display:flex;
    justify-content:start;
}

.alinhamento_imagem_pendrive{
    position:absolute;
    /* border:1px solid green; */
    width:100%;
    display:flex;
    justify-content:end;
    margin-top: 400px;
}


@media (max-width: 1500px) {
    .alinhamento_imagem_oculos{
        display: none;
    }
    .alinhamento_imagem_pendrive{
        display: none;
    }
}

