.primeiro_bloco{
    width:90vw;
    margin:0 auto;
}

.sbx{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 80%;
    color: white;
    padding-left: 200px ;
  }

.alinhamento_1{
    display:flex;
    justify-content:space-between;
}

.alinhamento_cards_candidatos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.astronautas_aprovados{
    padding:20px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 2.6px;
    border-radius:10px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: #10778D;
}

/* Alinhamento Das Imagens */

.alinhamento_imagem_oculos{
    position:absolute ;
    width:100%;
    display:flex;
    justify-content:start;
}

.alinhamento_imagem_fone{
    position:absolute;
    width:100%;
    margin-top:800px;
    display:flex;
    justify-content:end;
}

.alinhamento_imagem_pendrive{
    position:absolute;
    width:100%;
    margin-top:1400px;
}


@media (max-width: 1600px) {
    .alinhamento_imagem_oculos{
        display: none;
    }
    .alinhamento_imagem_fone{
        display: none;
    }
    .alinhamento_imagem_pendrive{
        display: none;
    }
    .logo{
        display: none;
    }
    .sbx{
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        width: 80%;
        color: white;
        padding: 20px ;
    }
}






