/* Imagem e titulo */

.alinhamento_2{
    display:flex;
    justify-content:space-between;
    width:80vw;
    align-items:center;
    overflow:auto;
    margin: 0 auto;
}

.processo_seletivo{
    padding:10px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius:10px;
    text-align: center;
    font-size: 25px;
    color: white;
    width: 70%;
}

.logo {
     padding: 20px;
     position: absolute;
}


/* Cards */
.spt{
	padding: 20px 35px 20px ;
	position: relative;
	color: #fff;
    margin: 0 auto;
    max-width: 80%;
    overflow: hidden;
}

.item{
	padding: 10px;
    display: flex;
	height: 700px;
}

.num{
	font-size: 30px;
	font-weight: 700;
	background: #FFA945;
	float: left;
	width: 55px;
	height: 55px;
	line-height: 57px;
	border-radius: 10px;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.173);
}

.info{
	margin-left: 20px;
	float: left;
	width: 90%;
}

.info h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 25px;
}

.info h2 span{
	font-weight: 400;
	color: red;
	margin-left: 10px;	
	font-size: 15px;
    width: 100%;
}

.date{
	font-size: 15px;
    padding-left: 5px;
}

.desc{
	margin-top: 6px;
	background: rgba(255, 226, 78, 0.9);
	padding: 15px;
	color: #1c1c1c;
	font-size: 14px;
	margin-right: -28px;
	line-height: 15px;
	border-radius: 10px 10px 0 10px;
	position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* SEtaa */

.seta {
	position: relative;
	justify-content: center;
	display: flex;
	margin-top: 50px;
	transform: rotate(90deg);
  }
  .seta span {
	width: 50px;
	height: 5px;
	background-color: greenyellow;
	position: relative;
  }
  .seta span:before,
  .seta span:after {
	margin-left: 22px;
	content: "";
	width: 35px;
	height: 100%;
	background-color: greenyellow;
	position: relative;
	display: flex;
  }
  .seta span:before {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 11px;
  }
  .seta span:after {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: -6px;
  }
  

  /* AlinhamentoImagens */

  .alinhamento_imagem_oculos{
    position:absolute ;
    /* border:1px solid green; */
    width:100%;
    display:flex;
    justify-content:start;
	margin-top: 100px ;
}


.alinhamento_imagem_laptop{
    position:absolute ;
    /* border:1px solid green; */
    width:100%;
    display:flex;
    justify-content: end;
	margin-top: 500px ;
}

.alinhamento_imagem_error{
    position:absolute ;
    /* border:1px solid green; */
    width:100%;
	margin-top: 900px ;
}


@media (max-width: 1500px) {
    .alinhamento_imagem_oculos{
        display: none;
    }
    .alinhamento_imagem_laptop{
        display: none;
    }
    .alinhamento_imagem_error{
        display: none;
    }
}