/* Imagem e titulo */
.alinhamento_processoseletivo{
    display:flex;
    justify-content:space-between;
    width:auto;
	height: 350px;
    align-items:center;
    margin: 0 auto;
	padding-top: 70px;
}

.titulo_processo_seletivo{
    padding:10px 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 2.6px;
	border-radius:10px;
    text-align: center;
    font-size: 28px;
    color: white;
	background-color: #2EA3BC;
	font-weight: bold;
    width: 30%;
}


.alinhamento_card_processoseletivo{
	display:flex ;
	flex-wrap:wrap;
}

/* Cards */
.spt{
	padding: 20px 35px 20px ;
	position: relative;
	color: #fff;
    margin: 0 auto;
    max-width: 80%;
    overflow: hidden;
}

.item{
	padding: 10px;
    display: flex;
}

.num{
	font-size: 30px;
	font-weight: 700;
	background: #FFA945;
	float: left;
	width: 55px;
	height: 55px;
	line-height: 57px;
	border-radius: 10px;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.173);
	color: white;
}

.info{
	margin-left: 20px;
	float: left;
	width: 90%;
}

.info h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 25px;
}

.info h2 span{
	font-weight: 400;
	color: red;
	margin-left: 10px;	
	font-size: 15px;
    width: 100%;
}

.date{
	font-size: 15px;
    padding-left: 5px;
	color: white;
}

.desc{
	margin-top: 6px;
	background: rgba(255, 226, 78, 0.9);
	padding: 15px;
	color: #1c1c1c;
	font-size: 14px;
	margin-right: -28px;
	line-height: 15px;
	border-radius: 10px 10px 0 10px;
	position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	height: 60px;
}

.title{
	padding-left:5px;
	font-weight:bold;
	color:white;
	font-size:20px;
}

.description{
	padding-left:5px;
	color:violet;
	font-weight:bold;
}

  /* AlinhamentoImagens */

  .alinhamento_imagem_oculos{
    position:absolute ;
    width:100%;
    display:flex;
    justify-content:start;
	margin-top: 100px ;
}

.alinhamento_imagem_laptop{
    position:absolute ;
    width:100%;
    display:flex;
    justify-content: end;
	margin-top: 500px ;
}

.alinhamento_imagem_error{
    position:absolute ;
    width:100%;
	margin-top: 900px ;
}

@media (max-width: 1500px) {
    .alinhamento_imagem_oculos{
        display: none;
    }
    .alinhamento_imagem_laptop{
        display: none;
    }
    .alinhamento_imagem_error{
        display: none;
    }
	.logo{
		display: none;
	}
	.titulo_processo_seletivo{
		margin: 20px auto;
	}
}

@media (max-width: 480px) {
	.desc{
		height: 120px;
	}

	.logo{
		display: none;
	}

	.card{
		height:250px;
	}

	.titulo_processo_seletivo{
		width: 65%;
	}
}

@media (max-width: 900px) {
	.titulo_processo_seletivo{
		width: 55%;
	}
}

@media (max-width: 500px) {
	.titulo_processo_seletivo{
		width: 95%;
	}
}



